header{
	background-color: #36465D;

}

.logo{

	width: 200px;

}
form{
	display: inline-block;
	float: right;
	margin: 20.625px 20.625px 20.625px 20.625px;
}

.grid-item img{

	margin: 0;
	border:1px solid black;
}
section{

	margin: 25px;
}